:root {
    --header-height: ;

    --colour-white: #ffffff;
    /* bw colours */
    --colour-black: #1c1a1a;

    --colour-100: #660303;
    /* Red */
    --colour-200: #3F0101;
    /* Deep red */
    --colour-accent-100: #FFDEC2
        /* Gold */
    ;


    --body-font: ;
    /* font style */

    --font-light: ;
    /* font weight */
    --font-regular: ;
    --font-medium: ;
    --font-semi-bold: ;
    --font-bold: ;

    --h1: ;
    /* font size */
    --h2: ;
    --h3: ;
    --h4: ;
    --h5: ;
    --body: ;
    --caption: ;
}

/* end of root */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background-color: var(--colour-accent-100);
    color: var(--colour-200);
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

a {
    /* hyperlinks */
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

header {
    /* fixed header */
    width: 100vw;
    position: fixed;
    z-index: 3;

    transition: 0.8s ease-in-out;
    transform: translateY(0rem);
}

.header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10%;
    height: 4rem;
    background-color: var(--colour-200);
}

.header-hide {
    /* hides header on scroll down */
    transform: translateY(-7rem);
    transition: 0.8s ease-in-out;
}

.login {
    /* login button */
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    grid-gap: 0rem 1rem;
    color: var(--colour-accent-100);
}

.ri-account-circle-line {
    font-size: 1.2rem;
    /*{fix}*/
}

.hamburger-menu {
    /* Hamburger Menu */
    display: flex;
    flex-direction: column;
    cursor: pointer;

    z-index: 5;
    transition: 0.3s ease-in-out;
}

.hamburger-menu:hover,
.login:hover {
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

.hamburger-bar {
    border-radius: 2rem;
    height: 1.5px;
    margin: 1.25px 0px;

    width: 1rem;
    transition: 1s;

    background: var(--colour-accent-100);
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature img { /* full width image */
    object-fit: cover;
    object-position: 72% 0%;
    height: 100vh;
    width: 100vw;
    filter: brightness(0.7);
}

.feature embed {
    width: 10rem;
    display:flex;
    position: absolute;
    z-index: 1;
    color: var(--colour-accent-100);
}



@media screen and (min-width: 1024px) {

    /* medium devices */
    :root {}

    .header {
    padding: 0 5%;
    }

    .feature embed {
        width: 12rem;
    }
}

@media screen and (min-width: 1024px) {

    /* large devices */
    :root {}
}